.container {
  width: 75%;
}

.favPage {
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
}

.homebutton {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: rgb(39, 111, 134);
  border: rgb(39, 111, 134);
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.homelink {
  color: white;
  text-decoration: none;
}

.card {
  border-radius: 5px;
  width: 75%;
  margin: 0 auto;
  display: block;
}

.list-group {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.fav {
  margin-left: 10px;
  font-size: 40px;
  background-color: white;
  border: none;
  margin-right: 0px;
}

.card-title {
  font-size: 26px;
  margin-top: 15px;
}

.time {
  font-size: 20px;
}

.wxemoji {
  margin-top: 30px;
  font-size: 30px;
}

.tempnow {
  font-size: 20px;
  margin-top: 30px;
}
