.container {
  width: 75%;
}

.card {
  border-radius: 5px;
  width: 75%;
  display: block;
  margin: 0 auto;
}

.appName {
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
}

.card-header {
  color: black;
  background: lightblue;
}

.d-flex {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
  color: lightblue;
}

.form-control {
  margin-top: 10px;
  color: lightblue;
}

.favs {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
  color: white;
  background-color: lightblue;
}

.searchbtn {
  font-size: 14px;
  margin-top: 10px;
  background-color: lightblue;
}

.myLocation {
  font-size: 14px;
  margin: 10;
  margin-left: 5px;
  margin-top: 10px;
}

.date,
.time {
  font-size: 18px;
  margin-left: 40px;
}

.wxemoji {
  font-size: 150px;
}

.temperature {
  font-size: 40px;
  margin-left: 40px;
}

.celciusText,
.fahrenheitText,
.verticalline {
  font-size: 40px;
  color: black;
  font-weight: light;
  text-decoration: none;
}

.celciusText:hover {
  color: rgb(50, 111, 131);
}

.fahrenheitText:hover {
  color: rgb(50, 111, 131);
}

.favbutton {
  margin-left: 50px;
  font-size: 40px;
  background-color: white;
  border: none;
  margin-right: 0px;
}

.card-title {
  margin-left: 40px;
  margin-top: 10px;
}
